// height
$header-height: 91px;
$footer-height: 35px;
$main-height: calc(100vh - $header-height - $footer-height);
$shape-height: 500px;

// width
$logo-width: 65px;


// color
$primary-color: #00ccbc;
$primary-light: #cdfbf8;
$secondary-color: #D0EB99;

$bg-light: #F9FAFA;
$black: #2E3333;
$grey: #434848;


$purple: #460063;
$pink : #FEEAE4;

$primary: $primary-color;
$success: $primary-light;
