// height
$header-height: 91px;
$footer-height: 35px;
$main-height: calc(100vh - $header-height - $footer-height);
$shape-height: 500px;

// width
$logo-width: 65px;


// color
$primary-color: #00CCBC;
$primary-light: #cdfbf8;
$secondary-color: #D0EB99;

$bg-light: #F9FAFA;


$primary: $primary-color;



