@use './partialsBlade/vars';

@import '~bootstrap/scss/bootstrap';

/*  ##############################
    ######### GENERAL #############
    #############################*/

.main-wrapper{
    height: calc(100vh - 140px);
    overflow: scroll;
    margin-top: 12px;
}

/*  ##############################
    ######### HEADER #############
    #############################*/

header{
    height: 70px;
}

/*  ##############################
    ######### ASIDE #############
    #############################*/

aside{
    margin-left: 10px;
    ul{
        li{
            list-style: none;
                a{
                    font-style: none;
                    color: black;
                    text-decoration: none;
                }
            }
    }
}

/*  ##############################
    ######### MAIN #############
    #############################*/

.ft-img{
    img{
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
}


/*  ##############################
    ######### FOOTER #############
    #############################*/

footer{
    height: 70px;
}

